@model IEnumerable<HMS.Entites.Patient>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Patients";
    var User = ViewBag.user;
}

<h1>Patients</h1>

@if (User.Role == "Receptionist")
{
       <div class="mt-4" >
        <a class="btn btn-primary" asp-action="AddNew">Add Patient</a>
       </div>
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalIssue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @item.CalculateAge()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalIssue)
            </td>
            <td>
                    @if (User.Role == "Receptionist")
                    {
                        <a asp-action="GenerateBill" asp-controller="Billing" asp-route-patientId="@item.Id">Generate Bill</a>
                        <a asp-action="AddNew" asp-controller="Patient" asp-route-ID="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-controller="Patient" asp-route-ID="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>